.page-cover .cover-bg-mask {
  background: rgba(5, 50, 45, 0.8);
}
.bg-secondary {
  background: #0b6d89 !important;
}
.border-top-green {
  border-top: 5px solid #0b6d89;
}
.border-top-orange {
  border-top: 5px solid #ff9800 !important;
}
.border-bottom-orange {
  border-bottom: 5px solid #ff9800 !important;
}
.about {
  background: #0b6d89;
}
#mainpage {
  height:100%;
  position:relative;
}
.btns-action.anim-4, h2.display-4.display-title.anim-1 {
  opacity: 1 !important;
}
.media-panel .media-img .mask, .media-panel .media-body {
  background:transparent;
}
.media.media-panel.bordered:hover {
  background:#0b6d89;
}
.media-panel .media-body .btn {
  color:white;
}
.media-panel:hover .media-title p {
  color:#ff9800;
}
.media.media-panel:hover {
  background: #0b6d89;
}
.card-body.faqs {
  color:#1d1d1d;
}

.article-content-faq  {
    width: 450px;
    height: 250px;
  }
.article-page.margin-tb {
margin-top:15px !important;
}
.section-content-faq .row {
  margin-top:20px;
  margin-left:20px;
}
.article-page.margin-tb.width-article-faq {
    width: 1000px;
    margin-left:0px;
}
.faqs {
    height: 100vh;
  }
  .contact {
      margin-top: 90px;
  }
  .Cursor.Cursor--blinking {
      display: none;
  }
